.page {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 50%;
  height: 200px;
  cursor: pointer;
}

.wine {
  background-color: red;
}

.beer {
  background-color: yellow;
}

.mixed {
  background-color: orange;
}

.mood {
  background-color: blue;
}
